a.twitter-share-button(href="//twitter.com/share", data-url="http://bestdirectors.netrc.com/", data-via="netrc", data-size="large") Tweet
script.
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
br
g:plusone
br
div.fb-like
br
script(async,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- bestDirectorsG1 -->
ins.adsbygoogle(style="display:inline-block;width:160px;height:600px", data-ad-client="ca-pub-1276679192565867", data-ad-slot="2950066015")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});

SCRIPT(charset="utf-8", type="text/javascript", src="//ws-na.amazon-adsystem.com/widgets/q?rt=tf_sw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fnetrcdistributec%2F8002%2F516ac4d6-6d0e-4976-8315-5021c36bb85c")
NOSCRIPT
  A(HREF="//ws-na.amazon-adsystem.com/widgets/q?rt=tf_sw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fnetrcdistributec%2F8002%2F516ac4d6-6d0e-4976-8315-5021c36bb85c&Operation=NoScript") Amazon.com Widgets
  