a.twitter-share-button(href="https://twitter.com/share", data-url="http://bestdirectors.netrc.com/", data-via="netrc", data-size="large") Tweet
script.
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
br
g:plusone
br
script(async,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- bestDirectorsG1 -->
ins.adsbygoogle(style="display:inline-block;width:160px;height:600px", data-ad-client="ca-pub-1276679192565867", data-ad-slot="2950066015")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
