extends layout

block pagecontent
  div.container
    div.row
      div.col-md-2
        div(data-spy="affix", data-offset-top="60")
          a(href="#HowToUse") How To Use
          br
          a(href="#Ratings") Ratings
          br
          a(href="#Votes") Votes
          br
          a(href="#Directors") Directors
          br
          a(href="#About") About the site
      div.col-md-8
        h2#HowToUse How To Use
        p.
          This site is a fun way to interact with the movie ratings and director information from the
          <a href="http://imdb.org"> Internet Movie Database </a>.
          If you're trying to find out the best director, or if one director is better than another, can you use
          the ratings data to answer that question? Perhaps.
          
          The IMDB is a brilliant online resource for movie fans and owes its vast cache of information to volunteers
          who contribute information. While openly collected, the IMDB is the most accurate and authoritative source of 
          online data about movies: Today, there are over a <a href="http://www.imdb.com/stats"> 300,000 feature films </a> (and even
          more tv shows, etc) from around the world tracked by IMDB. 
        p.
          It's easy to ask analytical questions about the data, a little harder to justify calling the results
          a list of "the best" or "better than. As long as we don't take the results too seriously, we can use
          this analysis to find out some interesting relationships about some of our favorite directors and their
          films and to discover some names and movies that we've never heard of before.
        h2#Ratings The Ratings
        p. 
          In addition to cast lists, directors and writers, trivia and production credits, the database also allows
          you to enter your personal rating for each film using a scale of 1 - horrible! - to 10 - perfection itself.
          IMDB keeps track of all the votes, the total number, and the overall average.
          Of course, unlike a fact such as who played Rhett Butler, the ratings are personal feelings about the movie. One person's
          10 will be another persons 2. And not all movies have a rating - right now, there's only about 227,000 movies are rated.
          
          The average movie rating is 6.5, and only 25% of movies are rated more than 7.2. But only about 4,000 movies have a rating over 8.2.
        h2#Votes The Number of Votes
        p.
          In fact, there are 33 films with average ratings of 9.9+. Are they great movies? Not likely - none of them recieved more than 15 votes.
          So here, when we try to find out who the "best" directors are, we need to check how many votes the movies get. Most rated movies (75%)
          have less than 120 votes; only 8% of films (some 18,000+) have more than 1,000 rating votes. Take a look at
          <a href="http://bestdirectors.netrc.com/?minNumVotes=1000&minNumMovies=5"> directors who have made more
          than couple movies with ratings from at least 1,000 people</a>.

        h2#Directors The Directors and Number of Films
        p.
          There are 79,380 total directors in the database. That works out to an average of about 2-1/2 movies per director.
        p.
          More stats and info to come.
        hr
        h2#About About the site
        p Version 0.7
        p bestdirectors at netrc.com
        p.
          thanks to: IMDB cloud9 vim bootstrap googleFonts nodejs express

      div.col-md-1
        include ads
        
        