extends layout

block pagecontent
  div.container
    div.row
      div.col-md-2
        div(data-spy="affix", data-offset-top="60")
          a(href="#HowToUse") How To Use
          br
          a(href="#Examples") Examples
          br
          a(href="#Ratings") Ratings
          br
          a(href="#Votes") Votes
          br
          a(href="#Directors") Directors
      div.col-md-8
        h2#HowToUse How To Use
        p.
          This site is a fun way to interact with the movie ratings and director information from the
          <a href="http://imdb.org"> Internet Movie Database </a>.
          If you're trying to find out the best director, or if one director is better than another, can you use
          the ratings data to answer that question? Perhaps.
          
          The IMDB is a brilliant online resource for movie fans and owes its vast cache of information to volunteers
          who contribute information. While openly collected, the IMDB is the most accurate and authoritative source of 
          online data about movies: Today, there are over a <a href="http://www.imdb.com/stats"> 300,000 feature films </a> (and even
          more tv shows, etc) from around the world tracked by IMDB. 
        p.
          It's easy to ask analytical questions about the data, a little harder to justify calling the results
          a list of "the best" or "better than. As long as we don't take the results too seriously, we can use
          this analysis to find out some interesting relationships about some of our favorite directors and their
          films and to discover some names and movies that we've never heard of before.
        h2#Ratings About Ratings
        p. 
          In addition to cast lists, directors and writers, trivia and production credits, the database also allows
          you to enter your personal rating for each film using a scale of 1 - horrible! - to 10 - perfection itself.
          IMDB keeps track of all the votes, the total number, and the overall average.
          Of course, unlike a fact such as who played Rhett Butler, the ratings are personal feelings about the movie. One person's
          10 will be another persons 2. And not all movies have a rating - right now, there's only about 200,000 movies are rated.
          
          The average movie rating is 6.5, and only 25% of movies are rated more than 7.2. But only about 4,000 movies have a rating over 8.2.
        h2#Votes About Number of Votes
        p.
          In fact, there are 33 films with average ratings of 9.9+. Are they great movies? Not likely - none of them recieved more than 15 votes.
          So here, when we try to find out who the "best" directors are, we need to check how many votes the movies get. Most rated movies (75%)
          have less than 120 votes; only 8% of films (some 18,000+) have more than 1,000 rating votes. Take a look at
          <a href="http://bestdirectors.netrc.com/?minNumVotes=1000&minNumMovies=5"> directors who have made more
          than couple movies with ratings from at least 1,000 people</a>.
          
          Looking at the number of votes cast versus the
          rating shows a trend towards "better" movies getting more votes.
        p.
          asdfaf
        h2#Directors About Directors and Number of Films
        p.
          There are YYY total directors in the database. That works out to an average of Y movies per director.
          The distribution of number of movies vs. average rating.
        h2#Examples Examples
        p.
          Let's start with <a href="http://bestdirectors.netrc.com/?minNumVotes=10&minNumMovies=15"> min num votes set to 10 and min num films set to 10 </a>. There
          are a lot of people.
          One cogent suggest for best director would be more than 10 movies with a substantial following, lets say more than 500 votes. After all, a great director
          may only make a modest number of films.
          Or you might say that a great director will have made a lot of good-to-great movies. How many is a lot? Tring 30 movies with 500.
          Let's look for some people that make lots and lots of movies, 100 votes and 50 movies.
      div.col-md-1
        include ads
        
        