extends layout

block pagecontent
  div.row
    div.span1
    div.span3
      label Minimum # of votes
    div.span3
      label Minumum # of movies
  div.row
    div.span1
    div.span3
      select.form-control(data-bind="value: minNumVotes", tabindex="1")
        option 0
        option 5
        option 10
        option 25
        option 50
        option 100
        option 250
        option 500
        option(value=1000) 1,000
        option(value=5000) 5,000
        option(value=10000) 10,000
        option(value=50000) 50,000
        option(value=100000) 100,000
        option(value=500000) 500,000
        option(value=1000000) 1,000,000
        option(value=2000000) 2,000,000
    div.span3
      form(data-bind="submit: getBestPress")
        input(data-bind="value: minNumMovies", tabindex="2")
      // http://jqueryui.com/slider/#default
    div.span1
      button(data-bind="click: getBestPress", tabindex="3") Action!
  div.row
    div.span1
    div.span8(data-bind="text: summary")
  div.row
    div.span1
    div.span8
      table(width="85%")
        thead
          tr
            th(width="50%") Director
            th(width="25%") # Movies
            th(width="25%") Rating
        tbody(data-bind="foreach: directorNames")
          tr
            td(align='center')
              a(data-bind="text:dn, attr: {href: durl}",  target="_blank")
            td(data-bind="text: numR",align='center')
            td(data-bind="text: avgR",align='center')

block pagescript
  script.
    var viewModel = function(){
      var self = this;
      self.composerNames = ko.observableArray([ {name:"retrieving..."}]);
      self.minNumVotes = ko.observable(100);
      self.minNumMovies = ko.observable(5);
      self.directorNames = ko.observableArray();
      self.summary = ko.observable("");
      self.finaltext = ko.observable("");
      self.getBestPress = function(item) {
          console.log("getBestPress:" + self.minNumVotes() + " uname:"+self.minNumMovies());
          self.directorNames( [{dn:"retrieving...", numR:"", avgR:"", durl:""}]);
          self.summary("");
          self.finaltext("");
          $.get('/Directors/?minNumVotes='+self.minNumVotes()+"&minNumMovies="+self.minNumMovies(), {}, function(s,tstatus,jxhr) { 
            var d = JSON.parse(s);
            //console.log("getBestPress d = " + d);
            self.summary( d.totalD + " directors made the list! Total number of films: "+ d.totalN+ "  with an average rating of: " + d.totalAvg);
            self.finaltext(d.queryMS+'ms');
            self.directorNames(d.ans);
          });
      };
    };
    $(document).ready(function(){
      ko.applyBindings(new viewModel());
      //$( "#minNumMovies" ).slider({ range: "min", value: 5, min: 0, max: 100, slide: function( event, ui ) { console.log("minNumMovies: "+ui.value); } });
      $('.carousel').carousel();
    });