extends layout

block pagecontent
  div.container
    div.row
      div.col-md-1
        span &nbsp;
      div.col-md-8
        div.row
          div.col-md-3
            label Minimum # of votes
          div.col-md-3
            label Minumum # of movies
        div.row
          div.col-md-3
            select.form-control(data-bind="value: minNumVotes", tabindex="1")
              option 5
              option 10
              option 25
              option 50
              option 100
              option 250
              option 500
              option(value=1000) 1,000
              option(value=2000) 2,000
              option(value=5000) 5,000
              option(value=10000) 10,000
              option(value=50000) 50,000
              option(value=100000) 100,000
              option(value=500000) 500,000
              option(value=1000000) 1,000,000
          div.col-md-3
            form(data-bind="submit: getBestPress")
              input(data-bind="value: minNumMovies", tabindex="2")
              // http://jqueryui.com/slider/#default
          div.col-md-1
          div.col-md-1
            button.btn.btn-primary(data-bind="click: getBestPress", tabindex="3") Action!
        div.row
          div.col-md-12
            br
            include infog
            p.summary(data-bind="html: summary")
            table(width="85%",data-bind="visible: firstTimeHide")
              thead
                tr
                  th(width="40%") Director
                  th(width="15%") # Movies
                  th(width="20%") Avg # Votes
                  th(width="25%") Avg Rating
              tbody(data-bind="foreach: directorNames")
                tr
                  td
                    a(data-bind="text:dn, attr: {href: durl}",  target="_blank")
                  td(data-bind="text: numR")
                  td(data-bind="text: avgV")
                  td(data-bind="text: avgR")
                  td
                    div.rCBox
                      div.rAvgBox(data-bind="style: { width: avgRPct}")
                        //div.rAvgLine(data-bind="style: {left: $parent.totalAvg}")
        div.row
          div.col-md-1
          div.col-md-2
            div(data-bind="visible: showPrev")
              button.btn.btn-primary.pager(data-bind="click: getBestPrev")
                span(data-bind= "text: prevUrlText")
          div.col-md-2
            div
              span.pager(data-bind="visible: showThis, text: thisPageText")
          div.col-md-2
            div(data-bind="visible: showNext")
              button.btn.btn-primary.pager(data-bind="click: getBestNext")
                span(data-bind= "text: nextUrlText")
          div.col-md-5
      div.col-md-3
        include ads
      
block pagescript
  script.
    var viewModel = function(o){
      var self = this;
      self.composerNames = ko.observableArray([ {name:"retrieving..."}]);
      self.minNumVotes = ko.observable( (o.uminNumVotes===0) ? 2000 : o.uminNumVotes );
      self.minNumMovies = ko.observable( (o.uminNumMovies===0) ? 10 : o.uminNumMovies );
      self.directorNames = ko.observableArray();
      self.totalAvg = ko.observable();
      self.summary = ko.observable("");
      self.firstTimeHide = ko.observable(false); // hide the table on first display
      //pagination stuff
      self.showPrev = ko.observable(false);
      self.showThis = ko.observable(false);
      self.showNext = ko.observable(false);
      self.prevUrlText = ko.observable("");
      self.thisPageText = ko.observable("");
      self.nextUrlText = ko.observable("");
      self.prevUrl = ko.observable("");
      self.nextUrl = ko.observable("");
      // in the footer; the milliseconds
      self.finaltext = ko.observable("");
      // auto run if the URL has values // see below
      self.getBestPress = function() {
          console.log("getBestPress:" + self.minNumVotes() + " uname:"+self.minNumMovies());
          var urlEnd = '?minNumVotes='+self.minNumVotes()+'&minNumMovies='+self.minNumMovies();
          history.pushState({x:""}, "", urlEnd);          self.firstTimeHide(true); $("#infog").remove();
          self.directorNames( [{dn:"retrieving...", numR:"", avgV:"", avgR:"", durl:"", avgRPct:""}]);
          self.getBest('/Directors/'+urlEnd);
      };
      self.getBestNext = function() {
        self.getBest('/Directors/?minNumVotes='+self.minNumVotes()+"&minNumMovies="+self.minNumMovies() + self.nextUrl());
      };
      self.getBestPrev = function() {
        self.getBest('/Directors/?minNumVotes='+self.minNumVotes()+"&minNumMovies="+self.minNumMovies() + self.prevUrl());
      };
      self.getBest = function(url) {
          console.log("getBest: " + url);
          self.summary("");
          self.finaltext("");
          self.showPrev(false); self.showThis(false); self.showNext(false);
          self.prevUrlText(""); self.thisPageText(""); self.nextUrlText("");
          $.get(url, {}, function(s,tstatus,jxhr) { 
            var d = JSON.parse(s);
            //console.log("getBestPress d = " + d);
            self.summary( d.totalD + " directors made the list!<br>Total number of films: "+ d.totalN+ "  with an average rating of: " + d.totalAvg);
            self.totalAvg( Math.round(d.totalAvg*10)+"%" );
            self.finaltext(d.queryMS+'ms');
            self.directorNames(d.ans);
            if (d.pages.showThis) {
                self.showThis(d.pages.showThis);
                self.thisPageText(d.pages.thisPageText);
            }
            if (d.pages.showPrev) {
                self.showPrev(d.pages.showPrev);
                self.prevUrlText(d.pages.prevUrlText);
                self.prevUrl(d.pages.prevUrl);
            }
            if (d.pages.showNext) {
                self.showNext(d.pages.showNext);
                self.nextUrlText(d.pages.nextUrlText);
                self.nextUrl(d.pages.nextUrl);
            }
          });
      };
      // auto run if the URL has values
      if (o.uminNumVotes > 0) {
        self.getBestPress();
      }
    };
    var getParam = function(name) {
      var wurl = window.location.href;
      var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(wurl);
      if (!results) { 
        return 0; 
      }
      return results[1] || 0;
    };
    $(document).ready(function(){
      ko.applyBindings(new viewModel( {uminNumVotes:getParam('minNumVotes'),uminNumMovies:getParam('minNumMovies')} ));
      //$( "#minNumMovies" ).slider({ range: "min", value: 5, min: 0, max: 100, slide: function( event, ui ) { console.log("minNumMovies: "+ui.value); } });
      (adsbygoogle = window.adsbygoogle || []).push({});
      window.___gcfg = {lang: 'en-US'};
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
      })();
    });