div#infog
  div.row#i-intro
    p. 
      Who's the best movie director? Or better, which director has made the most films with the highest ratings?
      Let's ask the <a href='http://imdb.org'> Internet Movie Database </a> to find out the answer. Select a minumum
      number of votes and a minimum number of movies to see a listing of directors and the average rating of their films.
      Press the <b> Action! </b> button for the answer.
  div.row
    div.col-md-6#i-imdb1a
      p <big>3 Million</big> titles <br> at <a href="http://www.imdb.org"> IMDB </a>
    div.col-md-6#i-imdb1b
      p <big>300,000+</big> feature films
  div.row
    div.col-md-4#i-2a
      p <br> <big>227,917</big> movies rated
    div.col-md-8#i-2b
      p <small> on a scale of 0 to 10 </small>
      p <big> Average 6.5 </big>
      p only <big> 5% </big> of movies over 8.0
  div.row#1-3
    div.col-md-12#i-3
      p.
        If you just look at <a href="http://bestdirectors.netrc.com/?minNumMovies=0&minNumVotes=5"> directors with a very high average rating</a>,
        you'll see that they haven't made very many movies and they don't have a lot of votes. Sadly, its probably just their friends voting for
        the movie. But what about <a href="http://bestdirectors.netrc.com/?minNumMovies=5&minNumVotes=1000"> directors with at least 5 movies with more than 1,000 votes?</a>
        Now we start to see some well-known names starting to appear.
        