div#infog
  div.row
    div.col-md-6#i-1a
      span.info 79,380 directors
    div.col-md-6#i-1b
      span.info 364,725,586 votes!
  div.row
    div.col-md-5#i-2a
      span.info 227,917 movies
    div.col-md-7#i-2b.info
      p <small><i> on a scale of 0 to 10 </i></small>
      p average: 6.5
      p only 5%  of movies over 8.0!
  div.row
    div.col-md-12#i-3
      span.info What's Your Definition of Best Director ?
  div.row#i-4
    div.col-md-12
      p. 
        Who's the best movie director? Or better, which director has made the most films with the highest ratings?
        Let's ask the <a href='http://imdb.org'> Internet Movie Database </a> to find out the answer. Select a minumum
        number of votes and a minimum number of movies to see a listing of directors and the average rating of their films.
        Press the <b> Action! </b> button at the top to see the list.
      p.
        IMDB's own chart of <a href="http://www.imdb.com/chart/top"> Top Rated Movies </a> only looks at movies with more than 25,000 votes, weeding out
        movies that are either not widely shown or known only to the directors family :-). Here, we can look at a single director's entire career and
        broaden the search to movies that have fewer votes. How about <a href="http://bestdirectors.netrc.com/?minNumMovies=5&minNumVotes=1000">
        directors with at least 5 movies with more than 1,000 votes?</a> An interesting list, showing many lesser-known talents amongst the greats.
      p.
        Or would you rather try and find the most popular directors, say with <a href="http://bestdirectors.netrc.com/?minNumMovies=10&minNumVotes=100000">
        more than 10 films each with more than 100,000 votes?</a> This is a very small list, perhaps not the most obvious of answers.
      p.
        On the other hand, maybe you're looking for directors who are more prolific? We'll have to allow more films with lower votes - let's try
        <a href="http://bestdirectors.netrc.com/?minNumMovies=50&minNumVotes=100"> only 100 votes needed, but look at people with more than 50 pics </a>. 
        Ahhh! Some classic cartoon directors and some of the greats, including some pioneers of film.
      p.
        What's your <a href="http://bestdirectors.netrc.com/"> Best Directors List</a> ?
        