
body {
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #BBB8C2 0%, #6D6D70 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #BBB8C2 0%, #6D6D70 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #BBB8C2 0%, #6D6D70 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #BBB8C2), color-stop(1, #6D6D70));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #BBB8C2 0%, #6D6D70 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center, #BBB8C2 0%, #6D6D70 100%);
}

select {
    direction: rtl;
}
input, select{
    height: 34px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

th, td {
    text-align: center;
}

td a:link {
    color: #2222A0;
}
.summary.a:link {
    color: #0000A0;
}
.summary {
    font-size: 14pt;
}
.pager {
    font-style: italic;
    font-size: 12pt;
}

a:link {
    color: #2222A0;
}

#i-intro {
    font-size: 12pt;
    background-color:#ccccee;
}
#i-1a {
    font-size: 24pt;
    background-color:#CC8100;
    height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align:middle ;
}
#i-1b {
    font-size: 24pt;
    background-color:#83B297;
    height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align:middle ;
}
#i-2a {
    font-size: 24pt;
    background-color:#AA33FF;
    height: 130px;
    text-align: center;
    display: inline-block;
    vertical-align:middle ;
}
#i-2b {
    font-size: 18pt;
    background-color:#4DFFBD;
    height: 130px;
    text-align: center;
}
#i-3 {
    font-size: 28pt;
    background-color:#83B297;
    border: 5px black;
}
#i-4 {
    font-size: 12pt;
    background-color:#ccccee;
    border: 5px black;
}
.info {
    font-family: 'Droid Sans', sans-serif;
    vertical-align:middle ;
    position: relative;
    top: 30%;
}
.infobig {
    font-size: 16pt;
}
.infowhite {
    color: white;
}
